{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Venues{% endblock %}
{% block content %}
{% for area in areas %}
<h3>{{ area.city }}, {{ area.state }}, {{ area.name }}</h3>

	<ul class="items">

		<li>
			<a href="/venues/{{ area.id }}">
				<i class="fas fa-music"></i>
				<div class="item">
					<h5>{{ area.name }}</h5>
				</div>
			</a>
		</li>

	</ul>
{% endfor %}
{% endblock %}